body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2d3e50;
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.header-text h1 {
    font-size: 2.5em;
    margin: 0;
}

.header-text p {
    font-size: 1.2em;
    margin: 0;
}

#language-toggle {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#language-toggle:hover {
    background-color: #45a049;
}

h2 {
    color: #2d3e50;
    margin-bottom: 0.5em;
    border-bottom: 2px solid #2d3e50;
    padding-bottom: 5px;
    font-size: 1.5em;
}

p, ul {
    margin: 0 0 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ecf0f1;
    margin: 0.5em 0;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

li:hover {
    background: #dcdcdc;
}

a {
    color: #2d3e50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    background: #2d3e50;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    width: 45%;
}

.skill span {
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
}

.skill ul {
    padding-left: 20px;
}

.skill ul li {
    background: rgb(17, 17, 24);
    padding: 0;
    color: #fff;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #2d3e50;
    color: #fff;
    border-radius: 0 0 10px 10px;
}
